.container {
    border: 1px solid deeppink;
  }
  .col {
    display: inline-block;
    width: 1fr;
    vertical-align: top;
  }
  .container--1 {
    height: 1fr;
    width: 1fr;
    /* Añadir propiedad overflow */
  }
  .container--2 {
    height: 200px;
    /* Añadir propiedad overflow */
  }